@import url(./fonts.css);

:root {
    --c700: "Comfortaa-Bold";
    --c400: "Comfortaa-Regular";
    --m700: "Comfortaa-Bold";
    --m400: "Montserrat-Regular";
    --r500: "Roboto-Medium";
    --r400: "Roboto-Regular";
    --gold: #F18128;
    --black: #040D1F;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.collect__card{
    margin-bottom: 60px;
}
.header__top {
    background: linear-gradient(90.09deg, #3800AF 0%, #BF7204 97.52%, #C27500 100%, #C27500 100%);
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: bgcolor 2s linear infinite alternate;
}

@keyframes bgcolor {
    to {
        filter: hue-rotate(360deg);
    }
}

.header__top span {
    font-size: 40px;
    color: white;
    margin-right: 25px;
    animation: rotate 2s linear infinite alternate;
}

@keyframes rotate {
    from {
        transform: rotate(-30deg);
        color: #ffff;
    }

    to {
        transform: rotate(30deg);
    }
}

.header__top p {
    font-family: var(--c400);
    font-size: 16px;
    line-height: 18px;
    color: #ffff;
    width: 166px;
}

body {
    background-color: var(--black);
}

.nav {
    background: rgba(1, 3, 5, 0.8);
    backdrop-filter: blur(15px)
}

.nav__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    font-family: var(--c700);
    font-size: 18px;
    line-height: 20px;
    color: white;
}

.nav__list {
    display: flex;
}

.nav__link {
    font-family: var(--c400);
    font-size: 14px;
    line-height: 17px;
    text-align: right;
    color: #ffff;
    margin-left: 18px;
    display: block;
    transition: 0.5s;
}

.nav__link::after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: var(--gold);
    display: block;
    transform: scale(0);
    transition: 0.5s;
}

.nav__link span {
    padding: 42px 6px 40px;
    display: block;
}

.nav__link:hover {
    color: var(--gold);
}

.nav__link:hover::after {
    transform: scale(1);
}

.intro {
    background-image: url(../images/header_bg.png);
    background-color: rgba(7, 15, 25, 0.75);
    background-blend-mode: multiply;
    height: 640px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    background-position: center;
}

.intro__title {
    font-family: var(--c700);
    font-size: 64px;
    line-height: 78px;
    color: #fff;
}

.intro__text {
    font-family: var(--c400);
    font-size: 16px;
    line-height: 24px;
    color: #C8C8C8;
    max-width: 570px;
    width: 100%;
    margin-top: 30px;
    text-align: justify;
    margin-bottom: 50px;
}

.intro__btn {
    display: flex;
}

.link {
    background: var(--gold);
    width: 166px;
    height: 45px;
    border-radius: 4px;
    color: #000;
    font-size: 14px;
    line-height: 12;
    font-family: var(--r500);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
}

.intro__link {
    margin-left: 30px;
    background: var(--black);
    color: #fff;
}

.link:hover {
    background-color: var(--black);
    color: #fff;
}

.intro__link:hover {
    background-color: var(--gold);
    color: #000;
}

.title {
    margin-top: 60px;
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 40px;
    text-transform: capitalize;
    font-family: var(--c700);
    color: var(--gold);
    width: max-content;
    overflow: hidden;
}

.title::after {
    content: "";
    height: 2px;
    background-color: var(--gold);
    width: 100%;
    display: block;
    transform: translateX(-100%);
    transition: 0.5s;
}

.title:hover::after {
    transform: translateX(0);
}

.film {
    margin-bottom: 75px;
}

.film__card {
    width: 255px;
    padding: 20px 15px;
    background-image: url(../images/film1.png);
    background-blend-mode: multiply;
    border-radius: 6px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    height: 367px;
}

.film__card::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: linear-gradient(180deg, rgba(241, 129, 40, 0.35) 0%, rgba(0, 0, 0, 0.71) 51.04%, rgba(7, 15, 25, 0.8) 100%);
    left: 0;
    top: 0;
    z-index: -1;
    transition: 1s;
    opacity: 0;
}

.film__card span {
    font-size: 46px;
    margin-bottom: 12px;
    transition: 1s;
    margin-top: 34px;
    transform: translateY(-100px);
}

.film__time {
    font-size: 14px;
    line-height: 10px;
    font-family: var(--m400);
    background: rgb(7, 15, 25, 0.2);
    border: 1px solid #ffffff;
    border-radius: 9px;
    padding: 6px 27px;
    transition: 1s;
    transform: translateX(-200px);

}

.film__title {
    margin-top: 30px;
    margin-bottom: 12px;
    font-size: 22px;
    line-height: 27px;
    font-family: var(--m400);
    transition: 1s;
    transform: translateX(220px);
}

.film__text {
    font-size: 14px;
    line-height: 21px;
    font-family: var(--r400);
    text-align: justify;
    transition: 1s;
    transform: translateY(200px);
}

.film__card:hover span {
    transform: translate(0) rotateX(720deg);
}

.film__card:hover .film__time,
.film__card:hover .film__title,
.film__card:hover .film__text {
    transform: translate(0);
}

.film__box {
    display: flex;
    justify-content: space-between;
}

.film__card:nth-of-type(2) {
    background-image: url(../images/film2.png);
}

.film__card:nth-of-type(3) {
    background-image: url(../images/film3.png);
}

.film__card:nth-of-type(4) {
    background-image: url(../images/film4.png);
}

.widow {
    width: 100%;
    height: 500px;
    position: relative;
    overflow: hidden;
    background: linear-gradient(90deg, #DEF7FF 0%, #F4FCFF 45.64%, rgba(255, 255, 255, 0) 100.72%);
}

.widow__title {
    margin-top: 42px;
}

.widow__text {
    margin-top: 50px;
    margin-bottom: 55px;
    color: #000;
    font-size: 18px;
    line-height: 27px;
    font-family: var(--r400);
    max-width: 558px;
    width: 100%;
    text-align: justify;
}

.widow__video {
    position: absolute;
    right: 0;
    top: -90px;
    height: 135%;
    z-index: -1;
    ;
}

.collect__card {
    max-width: 350px;
    width: 100%;
    height: 193px;
    overflow: hidden;
    background: linear-gradient(270deg, rgba(7, 15, 25, 0.56) 0%, rgba(49, 114, 9, 0.56) 100%);
    border-radius: 6px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
    transition: 1s;
}

.collect__img {
    left: 0;
    top: 0;
    position: absolute;
    z-index: -1;
    transition: 1s;
}

.collect__left {
    position: absolute;
    left: 7px;
    top: 8px;
    transition: 1s;
}

.collect__right {
    position: absolute;
    right: 7px;
    top: 8px;
    transition: 1s;
}

.collect__card span {
    font-size: 45px;
    transition: 1s;
}

.collect__title {
    font-size: 20px;
    line-height: 22px;
    font-family: var(--c700);
    margin-bottom: 15px;
}

.collect__card:hover span {
    transform: rotateX(720deg) scale(1.2);
}

.collect__card:hover .collect__img {
    transform: scale(1.2);
}

.collect__card:hover .collect__left {
    transform: rotateY(720deg) translateY(-120%);
}

.collect__card:hover .collect__right {
    transform: rotateY(720deg) translateY(120%);
}

.collect__card:hover {
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.1),
        0 0 20px 5px rgba(255, 255, 255, 0.1),
        0 0 30px 5px rgba(255, 255, 255, 0.1),
        0 0 40px 5px rgba(255, 255, 255, 0.1),
        0 0 50px 5px rgba(255, 255, 255, 0.1),
        0 0 60px 5px rgba(255, 255, 255, 0.1),
        0 0 70px 5px rgba(255, 255, 255, 0.1),
        0 0 80px 5px rgba(255, 255, 255, 0.1);
}
.collect__box{
    display: flex;
    justify-content: space-between;
}
.collect__title{
    margin-top: 15px;
}
.game{
    background-image: url(../images/rasm4.png);
    height: 435px;
    border-radius: 6px;
    overflow: hidden;
    padding: 0 22px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    position: relative;
    z-index: 1;
}
.game::after{
    content: "";
    width: 100%;
    height: 100%;
    background: linear-gradient(95.68deg, rgba(35, 35, 35, 0.8) 10.86%, rgba(11, 11, 11, 0.6) 110.86%);
    position: absolute;
    z-index: -1;
}
.game__title{
    font-family: var(--c700);
    font-size: 40px;
    line-height: 45px;
}
.game__text{
    font-family: var(--c400);
    font-size: 16px;
    line-height: 24px;
    margin-top: 27px;
    margin-bottom: 30px;
    text-align: center;
}
.grid{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 30px;
    margin-top: 30px;
}
.grid__box{
    background: linear-gradient(95.68deg, rgba(35, 35, 35, 0.8) 0%, rgba(11, 11, 11, 0.6) 100%);
    border-radius: 6px;
    min-height: 185px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    position: relative;
}
.box_1{
    grid-row: span 2;
    grid-column: span 2;
}
.grid__box img{
    position: absolute;
    z-index: -1; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.grid__box span{
    font-size: 45px;
}
.grid__title{
    line-height: 27px;
    margin-top: 20px;
    font-family: var(--c700);
}
.footer{  
    background: linear-gradient(90deg, #FF8C30 0%, #9F4700 100%);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
    margin-top: 65px;
    padding: 26px 0;
}
.footer__box{
    display: flex;
   justify-content: space-between;
    align-items: center;
}
.footer__link{
    margin-right: 50px;
}
.footer__text{
    font-size: 18px;
    line-height: 20px;
    letter-spacing: 1px;
    color: #fff;
    font-family: var(--c700);
}
.bar,
.close{
    display: none;
    color: #fff;
    cursor: pointer;
}
.checkbox{
    display: none;   
}
body::-webkit-scrollbar{
    width: 15px;
}
body::-webkit-slider-thumb{
    background-image: linear-gradient(to top, #3800AF 0%, #BF7204 97.52%, #C27500 100%, #C27500 100%);  
    border-radius: 30px;
}